<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  </head>
<body>
  <div class="card">
    <div></div>
    <br>
    <p id="welcomeMessage" style="text-align: center;"></p>

    <!-- Botón de Logout -->
    <div style="text-align: center;">
      <button class="btn btn-primary" onclick="cerrarSesion()">Cerrar Sesión</button>
    </div>
    <!-- Área de dibujo -->
    <div style="text-align: center; margin-top: 20px;" >
      <input type="color" id="colorPicker">
      <div style="display:flex; justify-content:center; text-align: center; margin-top: 20px;" >
      <canvas style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);" id="drawingCanvas" width="800" height="400" class="card"></canvas>
      </div>
      <br>
      <input type="text" id="nombreDibujo" placeholder="Nombre del Dibujo" required>
      <button class="btn btn-primary" id="saveDrawingButton">Guardar Dibujo</button>
      <button class="btn btn-primary" id="clearCanvasButton">Limpiar Dibujo</button>
    </div>

    <div id="drawingsContainer" style="display:flex;justify-content:center">
      <!-- Los dibujos se agregarán aquí dinámicamente -->
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Obtener el token del almacenamiento local
      const token = localStorage.getItem('token');
      if (!token) {
        alert('No está autenticado. Redirigiendo a la página de login.');
        window.location.href = '/login.html';
        return;
      }

      function eliminarDibujo(drawId) {
        fetch(`/delete-drawing/${drawId}`, {
          method: 'DELETE',
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then(response => {
          if (response.ok) {
            alert('Dibujo eliminado exitosamente');
            window.location.reload();
          } else {
            alert('Error al eliminar el dibujo');
          }
        });
      }

      // Decodificar el token para obtener el userId
      const jwtPayload = JSON.parse(atob(token.split('.')[1]));
      const userId = jwtPayload.userId;

      // Realizar una solicitud al servidor para obtener el nombre del usuario
      fetch(`/user/${userId}`, {
        headers: {
          Authorization: `Bearer ${token}`
        }
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Error al obtener el nombre de usuario');
        }
        return response.json();
      })
      .then(user => {
        console.log('Respuesta del servidor:', user);
        // Mostrar el nombre de usuario en el mensaje de bienvenida y en el botón del dropdown
        const welcomeMessage = document.getElementById('welcomeMessage');
        welcomeMessage.textContent = `Bienvenido, ${user.username}`;
      })
      .catch(error => {
        console.error(error);
        alert('Error al obtener el nombre de usuario');
      });

      // Obtener y mostrar los dibujos del usuario
      // Obtener y mostrar los dibujos del usuario
fetch('/drawings', {
  headers: {
    Authorization: `Bearer ${token}`
  }
})
.then(response => response.json())
.then(dibujos => {
  const drawingsContainer = document.getElementById('drawingsContainer');
  dibujos.forEach(dibujo => {
    const deleteButton = document.createElement('button');
    deleteButton.classList = 'btn btn-primary';
    deleteButton.textContent = 'Eliminar Dibujo';
    deleteButton.onclick = () => eliminarDibujo(dibujo.id);
    const div = document.createElement('div');
    const divBody = document.createElement('div');
    const h5 = document.createElement('h5');
    h5.innerText = dibujo.nombre_dibujo;
    h5.classList = 'card-title';
    div.id = dibujo.id;
    div.style = 'text-align:center; margin: 20px 20px 20px';
    div.classList = 'card';
    divBody.classList = 'card-body';
    divBody.style = 'background-color:#d3dae6';
    const img = document.createElement('img');
    console.log('Datos del dibujo:', dibujo.dibujo_base64); // Agregar este console.log
    img.src = `data:${dibujo.descripcion};base64,${dibujo.dibujo_base64}`; // Agregar un parámetro de consulta único
    img.classList = 'card-img-top';
    img.alt = dibujo.nombre_dibujo;
    img.style = 'flex-shrink: 3;display: block; margin-bottom: 20px; margin-top: 20px; max-width: auto';
    div.appendChild(img);
    divBody.appendChild(h5);
    divBody.appendChild(deleteButton);
    div.appendChild(divBody);
    drawingsContainer.appendChild(div);
    
    
  });        
})
.catch(error => {
  console.error('Error al obtener los dibujos:', error);
  alert('Error al obtener los dibujos');
});


      // Área de dibujo
      const canvas = document.getElementById('drawingCanvas');
      const ctx = canvas.getContext('2d');
      let drawing = false;

      canvas.addEventListener('mousedown', startDrawing);
      canvas.addEventListener('mousemove', draw);
      canvas.addEventListener('mouseup', stopDrawing);
      canvas.addEventListener('mouseout', stopDrawing);

      function startDrawing(event) {
        drawing = true;
        draw(event); // Para dibujar un punto al hacer clic
      }

      function draw(event) {
        if (!drawing) return;
        ctx.lineWidth = 5;
        ctx.lineCap = 'round';
        ctx.strokeStyle = '#000000';

        ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
      }

      function stopDrawing() {
        drawing = false;
        ctx.beginPath();
      }

      document.getElementById('clearCanvasButton').addEventListener('click', function() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
      });

      document.getElementById('saveDrawingButton').addEventListener('click', function() {
        const nombre = document.getElementById('nombreDibujo').value;
        if (!nombre) {
          alert('Por favor, introduce un nombre para el dibujo');
          return;
        }

        const datosBase64 = canvas.toDataURL().split(',')[1];
        const tipo = 'image/png';

        const payload = {
          nombre_dibujo: nombre,
          descripcion: tipo,
          dibujo_base64: datosBase64,
          usuario_id: userId // Aquí se utiliza el userId obtenido del token JWT
        };

        fetch('/save-drawing', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
          },
          body: JSON.stringify(payload)
        })
        .then(response => {
          if (response.ok) {
            alert('Dibujo guardado exitosamente');
            window.location.reload(); // Recargar la página para mostrar el nuevo dibujo
          } else {
            alert('Error al guardar el dibujo');
          }
        });
      });
    });

    

    function cerrarSesion() {
      localStorage.removeItem('token');
      window.location.href = '/login.html';
    }

  </script>
  <script>
    const canvas = document.getElementById('drawingCanvas');
    const ctx = canvas.getContext('2d');
    let drawing = false;
    let currentColor = '#000000'; // Color inicial (negro)

    // Obtener el elemento del selector de color
    const colorPicker = document.getElementById('colorPicker');
    colorPicker.addEventListener('change', (event) => {
      currentColor = event.target.value;
    });

    const startDrawing = (event) => {
      drawing = true;
      draw(event);
    };

    const stopDrawing = () => {
      drawing = false;
      ctx.beginPath();
    };

    const draw = (event) => {
      if (!drawing) return;

      ctx.lineWidth = 5; // Grosor de la línea
      ctx.lineCap = 'round'; // Cap de la línea (redondeado)
      ctx.strokeStyle = currentColor; // Color de la línea

      ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
      ctx.stroke();
      ctx.beginPath();
      ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
    };

    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mousemove', draw);
  </script>
</body>
</html>
