<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nueva cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <form class="signup-form" id="signupForm" action="/signup" method="POST">
            <h2>Crear nueva cuenta</h2>
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Crear cuenta</button>
            <p>¿Ya tienes una cuenta? <a href="/login.html">Iniciar sesión</a></p>
        </form>
    </div>
    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe automáticamente

            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            // Objeto con los datos del formulario
            const formData = {
                username: username,
                email: email,
                password: password
            };

            // Enviar los datos del formulario al endpoint de signup
            fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                // Manejar la respuesta del servidor (por ejemplo, guardar el token JWT en el almacenamiento local)
                console.log('Token JWT:', data.token);
                // Redireccionar a la página del tablero después de registrarse correctamente
                alert('El usuario fue registrado correctamente');
                window.location.href = '/login.html';
            })
            .catch(error => {
                console.error('Error al registrarse:', error);
                // Mostrar un mensaje de error al usuario
                alert('Error al registrarse. Por favor, intenta nuevamente.');
            });
        });
    </script>
    <!-- Enlaza el archivo JavaScript -->
    <script src="js/signup.js"></script>

</body>
</html>